---
title: 'The Autospa LLC | Home | Oklahoma City, OK'
description: 'Meta description for the page'
preloadImg: ''
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- Usage Notes:
We made this stitch to overlap the section below it, so if there's a patterned texture or image background on the next section below, it will overlap on top of it. Other Stitches like this would have a white gap between the cards an the next section. In order to make Stitches like this work, we need to add a padding top on the section below it to counteract the overlap. 

ON MOBILE (360px): add padding-top: (654/16rem); using LESS, or padding-top: calc(654 / 16 * 1rem); if you're using SCSS, or padding-top: 40.875rem; if you're just using vanilla CSS.

ON TABLET (768px): Reset to padding-top: (230/16rem); using LESS, padding-top: calc(230 / 16 * 1rem) for SCSS or padding-top: 15.625rem; for CSS

Doing this will complete the overlapping "breaking the container" look.
-->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1250">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Expert Car Detailing in Oklahoma City, OK</h1>
            <p class="cs-text">
                Auto detailing services you can depend on
            </p>
            <a href="/contact" class="cs-button-solid">Get A Quote</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Ceramic Coating</h3>
                    <p class="cs-item-text">
                       
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/coating.jpg' | resize({ width: 600, height:600}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/coating.jpg' | resize({ width: 600, height:600}) | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/coating.jpg' | resize({ width: 600, height:600}) | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">New Car Preparation</h3>
                    <p class="cs-item-text">
                       
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/porsche.jpg' | resize({ width: 600, height:600}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/porsche.jpg' | resize({ width: 600, height:600}) | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/porsche.jpg' | resize({ width: 600, height:600}) | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Paint Correction</h3>
                    <p class="cs-item-text">
                       
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/paint.jpg' | resize({ width: 600, height:600}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/paint.jpg' | resize({ width: 600, height:600}) | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/paint.jpg' | resize({ width: 600, height:600}) | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Clear Bra</h3>
                    <p class="cs-item-text">
                       
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/clear.jpg' | resize({ width: 600, height:600}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/clear.jpg' | resize({ width: 600, height:600}) | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/clear.jpg' | resize({ width: 600, height:600}) | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/fer.jpg' | resize({ width: 1000, height:600}) | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/fer.jpg' | resize({ width: 1000, height:600}) | webp %}">
        <img decoding="async" src="{% getUrl '/assets/images/fer.jpg' | resize({ width: 1000, height:600}) | webp %}" alt="construction" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/back.jpg' | resize({ width: 1000, height:600}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/back.jpg' | resize({ width: 1000, height:600}) | webp %}">
                    <img aria-hidden="true" decoding="async" src="{% getUrl '/assets/images/back.jpg' | resize({ width: 1000, height:600}) | webp %}" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/front.jpg' | resize({ width: 1000, height:600}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/front.jpg' | resize({ width: 1000, height:600}) | webp %}">
                    <img aria-hidden="true" decoding="async" src="{% getUrl '/assets/images/front.jpg' | resize({ width: 1000, height:600}) | webp %}" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Experienced Car Detailing You Can Trust</h2>
                <p class="cs-text">
                    The AutoSpa has been the trusted choice for comprehensive car detailing, new car preparation and paint protection for four years now. Our owner, Brian, has been cleaning cars since he was a youngster. In 2014, he decided to open his own auto detailing business. Brian knows that your vehicle represents a major investment. Count on him to help you keep your car looking its best.
                </p>
                <p class="cs-text">
                    Do you need to touch up your paint job after noticing swirls and scratches on your car? Would you like to learn how to maintain the nano-coating that protects your vehicle? The AutoSpa can help. Call us today to schedule a service appointment. We'll explain our process and provide you with a free estimate.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        A quote here if you want one
                    </p>
                    <span class="cs-name">Brian Menke</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77"/>
                </div>
                <a href="/" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1900">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">We Strive To Perfect</h2>
            </div>
            <!-- <button class="cs-play" aria-label="click to play video">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/play-right.svg" alt="play icon" width="24" height="24" aria-hidden="true" decoding="async">
            </button> -->
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Ceramic Coatings</h3>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/ceramic.jpg' | resize({ width: 1000, height:600}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/ceramic.jpg' | resize({ width: 1000, height:600}) | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/ceramic.jpg' | resize({ width: 1000, height:600}) | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">New Car Preparation</h3>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/newcar.jpg' | resize({ width: 1000, height:600}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/newcar.jpg' | resize({ width: 1000, height:600}) | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/newcar.jpg' | resize({ width: 1000, height:600}) | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Paint Correction</h3>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/paintcorrection.jpg' | resize({ width: 1000, height:600}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/paintcorrection.jpg' | resize({ width: 1000, height:600}) | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/paintcorrection.jpg' | resize({ width: 1000, height:600}) | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Dry Ice Blasting</h3>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/dryice.jpg' | resize({ width: 1000, height:600}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/dryice.jpg' | resize({ width: 1000, height:600}) | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/dryice.jpg' | resize({ width: 1000, height:600}) | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Detailing</h3>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/detailing.jpg' | resize({ width: 1000, height:600}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/detailing.jpg' | resize({ width: 1000, height:600}) | webp %}">
                    <img decoding="async" src="{% getUrl '/assets/images/detailing.jpg' | resize({ width: 1000, height:600}) | webp %}" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
    <div class="cs-video-wrapper">
        <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a image instead of a video. Don't forget to remove the cs-play button!-->
        <video style="filter: blur(10px);" loading="lazy" src="https://ik.imagekit.io/betterwebsite/theautospallc/smallhero" autoplay="false" muted></video>
        <!-- <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-image-2.png">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-image-2.png">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-hero-image-2.png" alt="body builder" width="630" height="877">
        </picture> -->
    </div>
    <!--Make sure to download this svg and change the fill color in a code editor to match the color of the section above this stitch-->
    <!-- <img class="cs-graphic cs-light" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-video-dark-graphic.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async"> -->
    <!--download this and make sure it is the same color as the background of the section above it on dark mode so it makes it look like its one complete shape -->
    <!-- <img class="cs-graphic cs-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-video-dark-graphic-dark.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async"> -->
</section>
                                
<!-- ============================================ -->
<!--                  Testimonials                -->
<!-- ============================================ -->

<section id="testimonials-2060">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">What Our Clients Say</h2>
                <p class="cs-text">
                    
                </p>
            </li>
            <li class="cs-item cs-item-green">
                <img style="filter: hue-rotate(199deg);" class="cs-stars" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-stars.png" alt="stars" width="120" height="24" aria-hidden="true">
                <h3 class="cs-h3">4.9/5 Stars</h3>
                <p class="cs-green-text">
                    Based on 230+ reviews!
                </p>
                <img style="filter: hue-rotate(199deg);" class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dentitch-joined-graphic.svg" alt="drops" width="528" height="830" aria-hidden="true" decoding="async">
            </li>
            <li class="cs-item cs-item-picture">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/review1.png' | resize({ width: 1000, height:600}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/review1.png' | resize({ width: 1000, height:600}) | webp %}">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/review1.png' | resize({ width: 1000, height:600}) | webp %}" alt="body builder" width="630" height="877">
                </picture>
            </li>
            <li class="cs-item">
                <img class="cs-stars" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dental-stars.png" alt="stars" width="120" height="24" aria-hidden="true">
                <h3 class="cs-h3">Grant Ellis</h3>
                <span class="cs-job">Satisfied Customer</span>
                <p class="cs-quote">
                    Brian always goes above and beyond on every detail. It's not cheap, but you more than get what you pay for. He's done some clear bra work for me as well as a z4m years ago and ive always been impressed.
                </p>
            </li>
            <li class="cs-item cs-item-picture">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/review2.png' | resize({ width: 1000, height:600}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/review2.png' | resize({ width: 1000, height:600}) | webp %}">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/review2.png' | resize({ width: 1000, height:600}) | webp %}" alt="body builder" width="630" height="877">
                </picture>
            </li>
            <li class="cs-item">
                <img class="cs-stars" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dental-stars.png" alt="stars" width="120" height="24" aria-hidden="true">
                <h3 class="cs-h3">Janis Bevers</h3>
                <span class="cs-job">Satisfied Customer</span>
                <p class="cs-quote">
                    I just purchased a new Porsche Cayenne and was very particular as to whom would be applying a protective coating on it. Autospa was highly recommended and I am very pleased with the results. The owner and staff were very professional and caring.
                </p>
            </li>
            <li class="cs-item cs-item-picture">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/review3.png' | resize({ width: 1000, height:600}) | webp %}">
                    <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/review3.png' | resize({ width: 1000, height:600}) | webp %}">
                    <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/review3.png' | resize({ width: 1000, height:600}) | webp %}" alt="body builder" width="630" height="877">
                </picture>
            </li>
            <li class="cs-item">
                <img class="cs-stars" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dental-stars.png" alt="stars" width="120" height="24" aria-hidden="true">
                <h3 class="cs-h3">Michael Head</h3>
                <span class="cs-job">Managing Director</span>
                <p class="cs-quote">
                    Met Brian during a tech day visit. I had saved his site for months and then, after getting to talk to him, brought it in for a professional detail. The car looked "good" before, but after his team was done, you could tell from 50 feet away that they had made a major difference. Their attention to detail, no pun intended, made all the difference. . .

                </p>
            </li>
        </ul>
    </div>
</section>
                                

    {% include 'components/cta.html' %}
{% endblock %}